@font-face {
    font-family: hammersmith;
    src: url(HammersmithOne-Regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    font: 2em hammersmith;
    
    margin: 0px;
}

a{
    color: purple;
    text-decoration: none;
}

div.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.monolith{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36373f;
    max-width: 60%;
    max-height: 100%;
    padding: 4%;
    padding-top: 20px;
}

div.monolith h1 ,
div.monolith h3{
    margin: 0px;
}

div.project-box{
    margin-top: 20px;
    background-color: black;
    border-radius: 40px;
    padding: 15px;
    max-width: 100%;
    width: max-content;
}

div.name-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #64657e;
    border-radius: 27px;
    max-height: 80px;
}
div.name-bar img{
    max-height:70px;
    width: auto;
    height: auto;
    border-radius: 21px;
    margin: 1%;
    margin-right: 20px;
}

div.project-box p{
    font-size: large;
    margin-right: 10px;
    margin-left: 10px;
}

div.screen-bar{
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    margin-left: 1%;
    margin-bottom: 1%;
}

div.screen-bar img{
    width: auto;
    height: auto;
    max-height: 140px;
    border-radius: 10px;

}

img.clickable-image:hover{
    cursor: pointer;
}